:root {
    --yt-spec-text-secondary: #606060; // CSS 변수 정의
}

.video-grid {
    margin: 5% 2%;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    
}

.video-mixin {
    margin-top: 20px;
    .video-mixin__thumb {
        height: 200px; // 고정된 높이 설정
        border-radius: 7px;
        width: 100%;
        background-color: ivory;
        object-fit: cover; // 이미지 비율을 유지하며 영역에 맞게 잘라내기
    }
    .video-mixin__data {
        margin-top: 5px;
        a {
            text-decoration: none;
            color: white;
            font-size: 16px;
        }
        .video-mixin__meta {
            display: flex; // Flexbox 사용
            justify-content: space-between; // 양쪽 끝으로 정렬
            align-items: center; // 세로 정렬
            .video-mixin__meta-owner {
                color: var(--yt-spec-text-secondary);
                font-size: 16px;
                margin-right: 30px;
            }
            .video-mixin__meta-views {
                color: var(--yt-spec-text-secondary);
                font-size: 16px;
                max-width: 100px; // 최대 너비 설정
                overflow: hidden; // 넘치는 내용 숨기기
                text-overflow: ellipsis; // 생략 기호 처리
                white-space: nowrap; // 줄 바꿈 방지
            }
        }
    }
}