extends base

block content
    h1#pageTitle=pageTitle
    if errorMessage
        span#errorMessage=errorMessage
    form(method="POST")
        input(id="username" name="username" placeholder="Username" type="text" ,required)
        input(id="password" name="password" placeholder="Password" type="password",required)
        input(value="Login" type="submit" )
    include partials/social-login
    div#form_under
        span Don't have an account?     
        a(href="/join") Create one now &rarr;
