header
    nav 
        ul 
            li
                a(href="/") Home
            li 
                a(href="/search") Search
            if loggedIn 
                li
                    a(href="/videos/upload") Upload Video
                li
                    a(href="/users/edit") Edit Profile
                li
                    a(href="/logout")  Log Out
            else 
                li
                    a(href="/login") Login
                li 
                    a(href="/join") Join 
